html{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    background-color: #efefef;
}

header{
    background-color: #364552;
    color:white;
    padding: 3rem 2 rem;
}